<link
  href="https://fonts.googleapis.com/css?family=Press Start 2P"
  rel="stylesheet"
/>
<div class="container">
  <div class="headline">
    <h1>Snake Arcade</h1>
  </div>
  <div class="screens">
    <div *ngIf="isGameOver(); else elseBlock">
      <div class="game-over">
        <p class="headline">Game over!</p>
        <div class="input" *ngIf="shouldEnterHighscore">
          <p>Enter name:</p>
          <input type="text" id="playerName" [(ngModel)]="playerName" />
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="cells">
        <div *ngFor="let column of columns">
          <div *ngFor="let row of rows">
            <div class="cell" [ngClass]="getGridCellClass(row, column)"></div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="scoreboard">
      <div class="high-scores-title">
        <p>High Scores</p>
      </div>
      <div class="highscore-table">
        <div class="headings">
          <p>Rank</p>
          <p>Name</p>
          <p>Score</p>
        </div>

        <div>
          <div
            class="results"
            *ngFor="
              let score of highscores.getHighscores();
              let indexOfelement = index
            "
          >
            <p>{{ indexOfelement + 1 }}</p>
            <p>{{ score.name }}</p>
            <p>{{ score.score }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scores">
    <p>Current Score: {{ score }}</p>
  </div>
</div>
