$cell-dimentions: 30px;
$grid-rows: 15;
$grid-columns: 20;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cells {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  border: solid var(--electric-purple) 3px;

  .cell {
    width: $cell-dimentions;
    height: $cell-dimentions;
  }
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $grid-columns * $cell-dimentions;
  height: $grid-rows * $cell-dimentions;
  background-color: var(--pure-black);

  box-sizing: border-box;
  border: solid var(--electric-purple) 3px;

  .headline {
    font-size: 42px;
    color: var(--light-red);
    font-family: "Press Start 2P", cursive;
  }

  p {
    font-size: 14px;
    color: var(--yellow);
    font-family: "Press Start 2P", cursive;
  }
}

.snake-cell {
  background-color: var(--light-green);
  border-radius: 25%;
}

.food-cell {
  background-image: url("./assets/food.png");
}

.empty-cell-light {
  background-color: var(--light-black);
}

.empty-cell-middle {
  background-color: var(--dark-black);
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: var(--electric-green);
  font-family: "Bungee Shade", cursive;
}

.scores {
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Press Start 2P", cursive;
  gap: 10px;
  font-size: large;
  color: #feeb2c;
}

.screens {
  display: flex;
  gap: 100px;
}

.scoreboard {
  background-color: rgb(8, 8, 8);
  box-sizing: border-box;
  border: solid var(--electric-purple) 3px;
  padding: 10px 30px;
}

.high-scores {
  display: flex;
  justify-content: center;
}

.high-scores p {
  font-size: 22px;
  color: var(--light-red);
  font-family: "Press Start 2P", cursive;
}

table {
  width: 400px;
  border-spacing: 0 20px;
  border-spacing: 0 20;
}

thead {
  display: flex;
  width: 100%;
}

.trhead td {
  color: var(--yellow);
}

.trhead {
  display: flex;
  font-family: "Press Start 2P", cursive;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.trbody {
  display: flex;
  color: #0000a2;
  font-family: "Press Start 2P";
  margin-top: 20px;
  justify-content: space-between;
}

tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}
