:root {
    // green colors
    --dark-green: #4c8c40;
    --light-green: #aeda91;
    --very-light-green: #bce2a3;

    // purple colors
    --dark-purple: #7100dd;

    // red colors
    --dark-red: #ff2c41;
}

body {
    margin: 0;
}
