:root {
  // black colors
  --dark-black: #101014;
  --light-black: #282a2d;

  // green colors
  --light-green: #5ac413;
  --electric-green: #00e339;

  // red colors
  --light-red: #ff074e;
}

body {
  background-image: url("./app/assets/background.svg");
}
